body
{
    background-image:url("https://static.vecteezy.com/system/resources/previews/001/630/637/non_2x/city-street-flat-background-vector.jpg") ;
    color:blanchedalmond;
    font-size: large;
    text-align:center;
}


